[2017-04-13 13:51] ladoe00 commented on #670
#671

[2017-04-13 18:10] LongLiveCHIEF commented on #515
We could definitely use some attention from @garethr around this topic, and the intent/outcome of this module in regards to dm thinpool.

[2017-04-20 13:15] jolivares opened #672 "Change Docker runtime directory"
I'm running Docker on a CentOS 7 and I'd like to use a partition different than the default one to store Docker data. I've come across this guide: https://docs.docker.com/engine/admin/systemd/#runtime-directory-and-storage-driver But I cannot find the `graph` parameter on the puppet module. Is there a way to achieve this by using some other param or is it not supported at all?

[2017-04-22 01:29] scotty-c opened #673 "Puppet lint is failing on all PR's"
All PR's are failing due to a change in the Puppet language styling listed here https://docs.puppet.com/puppet/latest/style_guide.html#chaining-arrow-syntax

Arrows now have to be on the right side, not the left.

[2017-04-22 01:38] scotty-c commented on #673
This is now fixed and is merged to master

[2017-04-22 01:38] #673 closed

[2017-04-25 12:18] fgabriel78 commented on #657
I have exactly the same problem. It is a recent problems, some weeks ago it worked perfectly.
¿Maybe any changes in the Docker auth system?

[2017-04-27 03:21] dbason commented on #665
@joaquin386 you're better off changing it to
[code]

This way you don't break compatibility

[2017-04-27 09:55] itsSaad opened #674 "puppet wants to create containers after the host is rebooted. with restarts => always. while the container with that name already exists."
When i run puppet, it runs all the containers specified in puppet with hiera. the puppet agent run is successful. But when i restart the server, docker runs the containers on boot as i have mentions `restart: always` in my hiera config.After the boot when puppet agent is run, it throws error because it tries to create those containers again and docker::run fails because the containers with the exa

[2017-04-27 10:52] itsSaad commented on #305
Im still having this issue,  where i stop a running container (restart: always). puppet want to create the container again and fails because it already exists. #674

[2017-04-27 14:47] joaquin386 commented on #665
@dbason check this PR --> https://github.com/garethr/garethr-docker/pull/666
I left the one with 2 (for backwards compatible) and added 3 and 3.1
Still need to re-amend the PR (just on vacation currently)

[2017-04-28 00:55] dbason commented on #659
The compose resource works out of the box (assuming you have the docker-compose binary in path on your Windows box).  For most of the other stuff that is based on execs it shouldn't be too much work to make it compatible with Windows.  Stuff like the images manifest may be a bit trickier though as it's based on a shell script.

[2017-04-28 09:07] scotty-c commented on #674
@itsSaad when Docker returns the error code 125 it is an issue with the demon. Please see here https://docs.docker.com/engine/reference/run/#exit-status. Is the Docker Deamon starting correctly after the reboot?

[2017-04-28 10:09] dpash commented on #607
As of puppetlabs-apt 4.0.0, this now throws an error.

[2017-04-29 00:42] stefanlasiewski opened #676 "Support new Docker Community Edition, with Stable & Edge channels on RHEL"
Starting with Docker 17.03, Docker changed how they distribute Docker packages, and introduced the concept of Docker Enterprise Edition (Docker EE) and Docker Community Edition (Docker CE). It would be great if the garethr/docker module could support the new Docker CE repositories, including both the Docker CE Stable and Edge channels.

Docker CE now has two repositories, and provides both Quarter

[2017-05-02 02:04] dbason commented on #633
If you're using the latest version of docker you can just do:
[code]

[2017-05-03 06:25] scotty-c commented on #625
@mjstein Is this issue still valid? or can I close it

[2017-05-03 06:36] scotty-c commented on #637
@mujiburger If you could submit a PR with your suggested changes it would be greatly appreciated.

[2017-05-04 11:21] drignoto opened #678 "docker::registry always exec"
The type define **docker :: registry** executes an **exec** resource that, because it has no condition, always executes in the puppet agent.

It is necessary to generate the condition that only executes if it does not find in the user the path `./.docker/config.json` and the entry with the _title_ of the define.

[2017-05-10 07:25] den-is commented on #667
[code]

[2017-05-14 21:07] #665 closed

[2017-05-17 13:29] serverbiz opened #687 "docker::run and docker::exec lack refreshonly capability"
Regular puppet _exec_ has a _refreshonly_ property which is very useful for using _notify_/_subscribe_ to trigger the execution of commands that do not need to be executed on every puppet run. The best example is of such an event is a database upgrade. If we move the application into containers, we need a way to execute these same commands inside a container. The module currently doesn't seem to s

[2017-05-17 15:57] vide opened #688 "Use the new "edge" and "stable" repositories"
Since Docker Inc has changed its release cycle, they now have an "edge" channel, with monthly releases, and a "stable" channel, with releases every 4 months. Right now the repo configured by this module, at least, in CentOS, only configure the "edge" channel (I think because it's a remap of the old unique distribution channel). Here are the instructions on how to install them.

https://store.docke

[2017-05-19 18:59] stefanlasiewski commented on #688
Also see #676

[2017-05-22 07:52] vide commented on #688
@stefanlasiewski you're totally right, didn't see your issue before.Closing mine as duplicated :)

[2017-05-22 07:52] #688 closed

[2017-05-22 07:53] vide commented on #676
And the are the instructions for Debian/Ubuntu:
https://store.docker.com/editions/community/docker-ce-server-debian
https://store.docker.com/editions/community/docker-ce-server-ubuntu

[2017-05-24 11:25] jcrsilva commented on #633
You can set this to run on a cron: https://github.com/spotify/docker-gc

Not exactly the same but gets the job done

[2017-05-24 11:28] jcrsilva opened #689 "Support purge for Docker::Run"
Feature request:

It would be nice if we had the option (in the main class configurations) to allow for purging of unmanaged containers and services

Right now if we remove a 'docker run' from the code, the container just keeps living in the machine forever

[2017-05-24 21:05] jamiejackson opened #690 "Provision Docker in Vagrant"
I'm trying to work around a Vagrant issue (https://github.com/mitchellh/vagrant/issues/7161#issuecomment-264600526), but I don't know Puppet. I had a look at https://github.com/garethr/puppet-docker-vnext-example, but there's too much going on there for me to be able to recognize just the parts I need.

Would someone be able to give some distilled pointers as to how to simply get Puppet to install

[2017-05-26 17:24] fitz123 opened #691 "How can I use "live-restore" option with current systemd templates?"
Currently it's not possibly to use --live-restore docker option because puppet template hardcoded with these
[code]

So any time docker daemon is restarted - it restarts all containers too. We want to avoid this behavior and be able to upgrade daemon itself and restart it with no containers affection

Is it possible to exclude "docker.service" dependency or be able to overwrite this?

Thank you an

[2017-06-05 03:09] scotty-c commented on #625
Closing this issue due to no response

[2017-06-05 03:09] #625 closed

[2017-06-05 03:20] scotty-c commented on #628
Closing as this has been fixed in later versions of the engine

[2017-06-05 03:20] #628 closed

[2017-06-06 12:04] dol commented on #676
@stefanlasiewski Thank you for the very important hint.

I was able to change the Repo source with the following Hiera settings:
[code]

Docker version output:
[code]

yum list installed output:
[code]

[2017-06-06 12:05] dol commented on #676
I downloaded the Repo-File from https://download.docker.com/linux/centos/docker-ce.repo and used it for the hiera values.
[code]

[2017-06-09 09:26] electrofelix commented on #660
systemd bug upstream https://github.com/systemd/systemd/issues/3302 as well as discussion on coreos fleet on hitting the issue https://github.com/coreos/fleet/issues/992.

I believe the problem is not limited to env variables, but because all docker_run_flags are concatenated.

If this is impacting you with env vars, the workaround is to place them into an file and use `envfile => <filename>` as a

[2017-06-09 17:59] kjhenner commented on #502
@danielpanteleit This looks like it was addressed in https://github.com/garethr/garethr-docker/commit/4b88998a4b2ea5adec1a2a0243ea47a35a4accb3 but hasn't yet been released.

[2017-06-13 12:51] gdubicki commented on #689
There is (undocumented though) option to delete the container after running for `docker::run` here https://github.com/garethr/garethr-docker/blob/master/manifests/run.pp#L107 .

[2017-06-13 13:06] gdubicki commented on #633
This PR will help to keep only a single tag of a given image: https://github.com/garethr/garethr-docker/pull/696

[2017-06-13 13:27] gdubicki commented on #614
Maybe this will help https://github.com/garethr/garethr-docker/pull/697 ?

[2017-06-14 14:47] jcrsilva commented on #689
@gdubicki issue is with the service files installed under systemd/init. If you remove a docker::run, those files are still in the system, and so the init system keeps bringing the containers up

[2017-06-14 15:50] gdubicki commented on #689
Oh, ok. Then there is another undocumented :), but standard, parameter - `ensure` - which you can use to delete the service. See the code: https://github.com/garethr/garethr-docker/blob/master/manifests/run.pp#L306

[2017-06-14 15:51] gdubicki commented on #689
Example:

[code]

[2017-06-14 19:26] rammaram06 opened #698 "Support for docker-latest package RHEL7"
Right now Redhat is providing docker and docker-latest packages, it would be great If we can handle this through this module.
https://access.redhat.com/articles/2317361

[2017-06-16 11:55] gilesdring commented on #615
I noticed this. The issue is that when running detached, the return code is always 0, even from the unless statement. Workaround: do not run detached.

Should probably unset detached for the unless test.

[2017-06-19 19:23] #670 closed

[2017-06-21 08:38] apeeters opened #699 "Please create a new release"
Hi, it has been almost a year since the last Forge release. Would it be possible to release a new version?

[2017-06-27 19:38] LongLiveCHIEF commented on #515
alright, so I've dug into this for weeks now, including contributing updates to the devicemapper setup docs for docker.  Turns out that docker-storage-setup is in fact no longer distributed with docker, due to the default storage driver now recommended is `overlay2`.

Unfortunately, many RHEL family hosts don't have the ability to support even overlay in a stable fashion at the moment.

RedHat's P

[2017-06-28 22:07] LongLiveCHIEF commented on #698
actually, using the provided parameters for repository configuration and package_name, you can already do this. :-)

[code]

Just make sure you have a repository with `docker-latest` package also available (note the `require`).  You can use the builtin `yumrepo` resource for this. Usually, various orgs have different urls for where that redhat repo is available from.

[2017-06-29 14:02] LongLiveCHIEF commented on #699
I talked to @garethr on twitter back in May, and he said a release would be coming soon. there _has_ been increased activity in merges since then, so hoping it's in the works.

[2017-06-29 16:46] ram-devsecops commented on #698
Yeah, it installs the package but it doesn't use same config files as `docker` package. To make other setting work we need to add docker-latest config files, as well as it uses different systemd directory
`/etc/systemd/system/docker-latest.service.d`.

[2017-06-29 18:52] LongLiveCHIEF commented on #698
yeah, it sets all that too though.

[2017-06-30 21:12] ocastle opened #701 "Docker Community Edition `docker daemon` is not supported on Linux."
Encountered the following error on Ubuntu 16.04 running docker version 17.06.0-ce.

``docker daemon` is not supported on Linux. Please run `dockerd` directly`

The ExecStart= line of the 'service-overrides-debian.conf.erb' template needs to use 'dockerd' as the command instead of 'docker daemon' when using the Community Edition. Editing the value and reloading the systemd daemon confirmed. Puppet

[2017-07-03 20:41] grantholly commented on #701
@ocastle would you be willing to test out some changes that I have in a fork?  I've been having the same problem with CentOS and docker 17.06.0-ce, but I've hacked together a workaround.  Its in my fork https://github.com/grantholly/garethr-docker.

[2017-07-03 20:57] vladgh commented on #701
From my tests, the latest docker (`docker-ce_17.06.0~ce-0~ubuntu`) on Xenial does not use the `/etc/systemd/system/docker.service.d/service-overrides.conf` file. The workaround for me was to delete that file altogether, rather than modifying `/usr/bin/docker daemon` to `/usr/bin/dockerd`.

I'm not sure, but I think `/lib/systemd/system/docker.service` is used instead.

[2017-07-04 10:31] gdlx commented on #698
The docker run template refers statically to `docker.service`:

https://github.com/garethr/garethr-docker/blob/master/templates/etc/systemd/system/docker-run.erb#L2
https://github.com/garethr/garethr-docker/blob/master/templates/etc/systemd/system/docker-run.erb#L7

[2017-07-04 14:12] gdlx commented on #698
Service overriding is also static:

https://github.com/garethr/garethr-docker/blob/master/manifests/service.pp#L150
https://github.com/garethr/garethr-docker/blob/master/manifests/service.pp#L155
https://github.com/garethr/garethr-docker/blob/master/templates/etc/systemd/system/docker.service.d/service-overrides-rhel.conf.erb#L2

[2017-07-05 13:47] ocastle commented on #701
@grantholly yes i'd be willing to take a look at the changes and integrating into my own fork for testing.

[2017-07-10 07:14] benningm commented on #698
Thats related to my pull request #681

[2017-07-10 09:56] stang opened #703 "`$docker_command` is not taken in account everywhere"
When `$docker_command` is explicitly passed to the `docker` class, it is taken in account _only_ in `service.pp`.

[code]

All the other modules seems to always take `$docker::params::docker_command` rather than `$ docker::docker_command`. Thereby, the `init` files and all the other commands call are not correct.

[2017-07-10 12:28] Morsicus commented on #701
Hi,

Any news on this issue ? :)

[2017-07-11 13:47] ocastle commented on #701
The changes from @grantholly were integrated into the working fork used for testing and were verified to solve the issue faced on Ubuntu:16.04

[2017-07-12 08:26] rogierslag commented on #448
Can I submit a PR for this new behaviour?

[2017-07-12 12:32] BarnumD commented on #699
I'm beginning to wonder if the community has moved on to puppetlabs/docker_platform?

[2017-07-12 16:37] LongLiveCHIEF commented on #699
That's just a downstream mirror of this repository. I specifically asked Gareth on Twitter if we should use this repository, or if it was being replaced by the puppetlabs/docker_platform, and he said that this was the upstream source.  (Gareth works for Puppet and leads the work on all the DevOps stuff they're doing).

[2017-07-12 18:08] LongLiveCHIEF commented on #701
This is related to #703 & #698. You actually _shouldn't_ have to manually perform any workarounds, and should instead be able to pass in `dockerd` as the `docker_command`, but it's not writing out to the correct file.

[2017-07-15 20:41] LongLiveCHIEF commented on #699
As of this point, I'm going to maintain my fork, closing/addressing most of the pressing issues in this repository with patches. I'll work on some of the changes due to the docker `17.06` release this weekend and try to get a release by Monday.

I'll submit PR's for each back upstream as well, but I've given up on really counting on them to be reviewed in a timely manner. I've been poking maintain

[2017-07-17 15:09] juliantaylor commented on #701
In addition to changing `docker_command` to `dockerd`, you also need to override `daemon_subcommand` to an empty string to get a correct service file override. See https://github.com/garethr/garethr-docker/blob/master/templates/etc/systemd/system/docker.service.d/service-overrides-debian.conf.erb

[2017-07-17 16:08] LongLiveCHIEF commented on #701
Yep, already got that one. [Here's what I've done so far](https://github.com/garethr/garethr-docker/compare/master...LongLiveCHIEF:deprecate-docker-daemon).

The challenge I'm working through as we speak is the dual nature of `docker_command` usage in the module.

In the `manifests/run.pp`, `manifests/image.pp`, `manifests/exec.pp`, etc... `docker_command` is used as a client library.  I can't jus

[2017-07-17 17:03] mmarseglia opened #706 "Additional groups does not work, CentOS 6.9, docker v1.7.1"
On CentOS 6.9, docker 1.7.1, adding additional users to use docker does not work.

Puppet creates the group 'dockerroot' but on CentOS 6.9 the group should be 'docker'.

Just wanted to raise this before I dig into it.  Have others have experienced the same thing or can someone also reproduce?

[2017-07-19 17:20] grantholly commented on #701
Is there a preference for making `$docker_command` work over using facter to figure how to call the docker daemon?  I could go either way.  I have a pull request open (https://github.com/garethr/garethr-docker/pull/704) that fixes this issue and has been checked to work with at least Ubuntu and CentOS.  It could use some review.

[2017-07-20 01:36] LongLiveCHIEF commented on #701
I reviewed the PR, and the only flaw I see is in the assumption that you're always going to have `dockerd` available. We'd have to declare that this module only supports specific versions of docker, deprecating support for versions of docker > 1.12.

I'm also not certain that the facter technique will work with custom build versions of docker (example being `docker-latest` package that is released

[2017-07-20 15:01] LongLiveCHIEF commented on #701
@grantholly would you mind if I pulled your PR (#704) into my fork?  While I think it can't do the job on it's own, it _will_ work for like 99% of cases, and will serve as a much more solid base than just assuming `/usr/lib/...` inside the template files, (which has been bothering me for a while now.)

[2017-07-20 16:59] grantholly commented on #701
@LongLiveCHIEF go for it.

In my PR, there is no assumption that `dockerd` is installed.  The way the fact works is you either get a `nil` value for `$dockerd_binary`, as you would in the case of running an older version of docker, or you would get a string value containing the path to the `dockerd` binary.  Here's the details on Facter::Core::Execution#which (http://www.rubydoc.info/gems/facter/2

[2017-07-20 18:27] LongLiveCHIEF commented on #701
I like it.

[2017-07-25 17:16] krish2304 opened #707 "Not able to pass create_user parameter ."
I want to pass create_user = false which is present in the manifests/system_user.pp . As I use NIS  and I don't want docker to create new users when NIS is down. Is there a way I can pass create_user like below.

class { 'docker':
  create_user => false,
}

Thanks

[2017-07-27 19:22] davidgibbons commented on #701
That nil value seems to generate a broken systemd file though?

Specifically the first run facter will return no value. As it runs before the package is installed.

[2017-07-31 16:02] BarnumD commented on #699
More than a year later...  Can we get an update pleeeease?

[2017-08-02 08:00] vide commented on #701
Hello, facing this issue too, easy solution (waiting for the PR to be merged), if you're using Hiera:
[code]
This works perfectly with docker 17.06 under CentOS7

[2017-08-02 15:45] LongLiveCHIEF commented on #701
@vide this will only work for installing and starting the docker service. If you use any of the custom docker resources from this module, the above settings will break your puppet catalogs.

`docker_command` is used in several different ways at the moment, and for the custom resource types, it's used as the client command.  This will break `image`, `run`, etc...

[2017-08-02 16:07] davidgibbons commented on #701
I bypassed the issue by declaring FACTER_DOCKERD_BINARY=/usr/bin/dockerd in
the packer script that was failing. It's an imperfect solution but allowed
my image building process to be unblocked.

On Aug 2, 2017 8:45 AM, "Brian Vanderbusch" <notifications@github.com>
wrote:

[2017-08-02 20:36] vide commented on #701
@LongLiveCHIEF  Nope, I'm overriding only the docker::service class, not the base docker
class, it works perfectly, I'm running container and pulling images through
puppet without any issue

[2017-08-02 22:33] vide commented on #701
At least it works on the latest released version, 5.3.0. Maybe in master is broken, IDK, on mobile right now, I will check tomorrow

[2017-08-04 09:50] vide commented on #701
@LongLiveCHIEF Still work on current master too. The line that makes it work is

https://github.com/garethr/garethr-docker/blob/master/manifests/init.pp#L530

where the `docker::service` class is contained without overriding any parameter, so if you set `docker::service::docker_command` and `docker::service::daemon_subcommand` in Hiera as I said in my first comment, it works. In fact, it's working

[2017-08-04 22:02] LongLiveCHIEF commented on #701
Yeah, it does make sense actually, I just never considered the service
manifest as an entry point.

Doing it that way would keep the docker command that's inherited from the
normal entry point  at it's default value, so even the custom resources
from this component will still work correctly.

On Aug 4, 2017 4:50 AM, "Davide Ferrari" <notifications@github.com> wrote:

[2017-08-07 19:09] BarnumD commented on #659
Could we use DSC to manage docker & containers? https://docs.docker.com/engine/admin/dsc/

[2017-08-09 10:32] tux-o-matic opened #710 "File resource service_overrides_template cannot be removed"
Today the systemd file defined by _$service_overrides_template creates_ a file if not set to _undef_.
However, if the if conditional statement is negative, it does not remove the the file.

It should be possible to control the _ensure_ value from the [File resource](https://github.com/garethr/garethr-docker/blob/master/manifests/service.pp#L154)

[2017-08-09 18:53] bittner commented on #699
Also, docker-compose (v1.9.0) is still [a bit old in this module](https://github.com/garethr/garethr-docker/blob/master/manifests/params.pp#L75) if I'm not mistaken. The [current version is 1.15.0](https://github.com/docker/compose/releases) according to their GitHub repo. Would be nice if this could be updated and included in a new release. Very soon, preferably.

[2017-08-10 18:07] bittner commented on #607
@garethr There are now at least 6 PRs that try to fix this very issue:

1. #461
1. #528
1. #595
1. #634
1. #675
1. #693

None has been merge until today. Why?

[2017-08-15 18:44] supernovae commented on #699
a new forge release would be nice

[2017-08-16 16:21] mbelang commented on #676
Note that for Ubuntu/Debian you have to override a couple more hieras:

[code]

[2017-08-17 05:04] starchx commented on #710
Try `service_overrides_template => false` This will stop from creating the file.
I had to do this because this module actually breaks default Centos7.3 Docker installation. This is my workaround:
[code]

[2017-08-17 07:27] tux-o-matic commented on #710
@starchx as I mentioned, the problem is that the module does not clean after itself if at some point it already created the file. So setting the value to false will not help if the file was already created previously.

[2017-08-18 15:44] sathieu commented on #674
The reason is probably that the cid file is in /var/run, which is cleaned on reboot. Maybe put this in `/var/cache/puppet-garethr-docker` or `/var/lib/puppet/garethr-docker` or similar?

[2017-08-22 22:06] grantholly commented on #701
I would prefer to do this without any code change as you suggest @vide.  I've tested your work and it works like a charm.  However, It doesn't make sense for me to add `docker::service::docker_command` to every single manifest where we have the docker class applied.  I would like to do something like
`
class { 'docker::service':
  docker_command         => 'dockerd',
  daemon_subcommand => '',
}
`

[2017-08-23 00:35] LongLiveCHIEF commented on #701
I have this in the master of my fork.

On Aug 22, 2017 5:06 PM, "grantholly" <notifications@github.com> wrote:

[2017-08-23 16:01] ghost commented on #657
I ran into this as well. The code for release 5.3.0 doesn't have email as being optional. So you must supply an email

[code]

Then it will work. If you have the code straight from the github repo then the email is optional.

[2017-08-24 14:31] ale2805 opened #712 "Docker plugins"
Hi,

I was looking for the plugin class but i wasn't able to find it, is it available?
Is there another way to make this module manage the docker plugins cause we need to install a plugin on every docker node instantiated by puppet.

Thanks for your support.

[2017-08-29 10:23] eliaoggian commented on #607
+1 @bittner

Please merge the fix.

[2017-08-30 19:09] NeatNerdPrime commented on #701
TL;DR : declare the storage_driver parameter specifically.

Hi everyone, this is my 2cents on this issue:
In my case, it seemed to "correct" itself by specifying the storage driver. I am running on a debian jessie with the latest kernel from backports. Doing so it does not complain anymore about the dockerd issue... still need to investigate why, but i'm happy that it runs smoothly. YMMV.

This is

[2017-09-03 22:21] HadesArchitect commented on #588
Relates to https://github.com/garethr/garethr-docker/issues/657

[2017-09-06 11:26] BlauerPulli commented on #607
my ubuntu 16.04 VM with puppet 3.8.5 and the garethr-docker v5.3.0 generates no warnings but an error:
_Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Puppet::Parser::AST::Resource failed with error ArgumentError: Invalid resource type apt::source at /etc/puppet/modules/docker/manifests/repos.pp:34 on node puppetagentone.local_

I've already done @costela s changes- sti

[2017-09-06 16:19] Justin-DynamicD commented on #701
As this thread is still getting commented on:  as an FYI it's not techniclaly a module issue.  It's becuase of the removal of a command in the latest 17.06 that isn't slated for removal until 17.12 and is impacting lots of people, not just those who deploy via puppet:

https://github.com/docker/for-linux/issues/11

In that light I'm not 100% certain that a fix via puppet module is the right answer

[2017-09-06 21:40] Justin-DynamicD commented on #701
Quick warning:  while setting docker::service::docker_command: in Hiera will work for new installs, it's not bullet proof.

Anyone who's run into this problem in frustration and thus doesn't have a running copy of docker wont be able to get back and running this way, as the module itself tries to run docker before applying the service-overrides.conf file and thus will never get to the step of upda

[2017-09-07 19:59] fgabriel78 commented on #588
On Docker 17.06, you get an error if you use the -email tag in your docker login command. So since Docker 17.06 it is impossible to login into a registry using Puppet :(
If you specify the email in docker::registry you get an error because the -email tag has been removed. If you don't specify the email in docker::registry you thet the "Cannot perform an interactive login from a non TTY device" err

[2017-09-07 23:31] Justin-DynamicD commented on #706
maybe, as you're on an older version, this is a non-issue but ... according to docker documentation CentOS 6.x isn't supported at all,  You have to be >7:

https://docs.docker.com/engine/installation/linux/docker-ce/centos/

```To install Docker CE, you need the 64-bit version of CentOS 7.```

I only know this as I just recently rewrote my classes to avoid accidentally installing on my 6.9 boxes.

[2017-09-07 23:50] Justin-DynamicD opened #717 "docker::run ensure=> 'absent' inconsistent"
I have a "cute" scenario where I call docker::run and pass parameters but I actually pass either ensure 'present' or 'absent' depending on a parameter.

the actual class:

[code]

On _most_ machines this appears to work.  Without a consistent reason, however, some machines will error if the container service isn't found rather than silently continue:

```Error: /Stage[main]/<redacted>/Service[dock

[2017-09-07 23:56] scottpecnik opened #718 "env attribute does not work when a "-" is present"
I am trying to start an [elasticsearch ](https://hub.docker.com/_/elasticsearch/) container using the below piece of code.  The issue I am having is with setting a JVM environment variable on the env attribute.

[code]

The above code yields the following result:

[code]

As a test, if I pass in only a JVM param for the initial heap space (above), I get the following:

Seems maybe there is an issu

[2017-09-08 01:11] Justin-DynamicD commented on #718
So the way the error is reporting it seems docker itself is mistaking the "-" as a docker flag, not as part of the environment variable.

As I don't see any parameters in your string, maybe simplify it with single quotes just to be sure it's not passing something odd?  so:

[code]

Otherwise I agree:  what you're passing _should_ work.

[2017-09-08 01:30] scottpecnik commented on #718
Thanks for the quick response.  I have tried single quotes but get the same result.  I agree it seems like docker is interpreting the value incorrectly, but when I run the command that puppet is sending to stdout directly it works.  That command again is:

I wonder if what puppet is printing to stdout is actually different to what it is running?

[2017-09-08 02:07] mmarseglia commented on #706
Thanks!  I didn't know about the centos 7 requirement.  I'll close this out since docker's doc states that.

[2017-09-08 02:07] #706 closed, assigned to nobody

[2017-09-10 17:39] oryagel opened #719 "Using registry mirror"
Hi.
Is it possible to configure docker to use registry mirror with this module?
Usually it means to run the deamon with `--registry-mirror` argument.

Thanks

[2017-09-11 15:12] droopy4096 commented on #568
I'm facing similar issue. Project I'm working with (Mailu) requires use of .env file, but since docker-compose execution is happening outside of the directory containing .env file - the whole execution fails. Simple "cd $project_dir" or similar could solve the initial issue (or, perhaps optional $cwd parameter?).

[2017-09-11 17:47] Justin-DynamicD commented on #717
I discovered this occurs with ANY module that leverages service removal in this manner on Ubuntu 14.  As this isn't a docker specific issue ... Ill close this request.

[2017-09-11 17:47] #717 closed, assigned to nobody

[2017-09-11 18:26] Justin-DynamicD commented on #699
Reading this thread it may be time to head on over to LongLiveCHIEF's version (sounds like he's maintaining a branch).

One thing to note, the last release is over a year ago, yet the master branch is only a few months old and includes docker::swarm and other functions that would be be REALLY nice to have.

[2017-09-12 00:57] tamama opened #721 "CentOS/7 : Having "INSECURE_REGISTRY" option"
Hi there,

May I know how can I set the "INSECURE_REGISTRY" option via your puppet module. The way I did usually is to append this following line into /etc/sysconfig/docker.

INSECURE_REGISTRY="--insecure-registry=\"docker.registry.tamama.london\""

However, this file is currently managed by this Puppet module. May I ask what is the best practice here?
(I want this option to stick with the docker

[2017-09-12 09:14] vide opened #722 "Use docker::swarm as an exported resource"
`docker::Swarm` is a define so it makes it a perfect target (with some boiler plate code in the _profile_) for an exported resource to be imported by every node assigned to the same cluster so we can autojoin nodes via Puppet with no manual intervention. But currently there's no way to retrieve the cluster token from the master node(s), so this is not possible.

[2017-09-12 14:23] Justin-DynamicD commented on #722
You can always treat the token like a password and pass it as a variable.  You then only have the problem during the initial init when  tokens are generated.

If you want to get fancier you'd need something like consul you can use as an external keystore.  Then you can code a custom function to read/export the tokens into.

[2017-09-12 14:36] vide commented on #722
@Justin-DynamicD if I have to treat it like a password, then `docker::swarm` should not be a `define`, but rather a `class` (singleton) and everything would be easier. Being a define makes me think about exporting it from the master (where a fact can expose the tokens) and importing them in the nodes.

[2017-09-12 16:17] tamama commented on #721
The following fixes my problem.

Kind regards,
Tamama

###########################################
# site/profile/manifests/docker.pp

class profile::docker {
    notify { '[profile::docker] Starting ... ' : }

    Package {
        provider => 'dnf' ,
    }

    class { 'docker' :
        daemon_environment_files => [ '/etc/sysconfig/docker-insecure-registry' ] ,
    }

    file { '/etc/sysconfig

[2017-09-12 16:17] #721 closed, assigned to nobody

[2017-09-12 16:21] Justin-DynamicD commented on #722
Which is why I made the 2nd suggestion of consul.  You can setup consul as a hiera backend and then upload/gather from consul k/v with a lookup.  I was just trying to give you an option  to get things going (it's what we did here until our hiera was setup).  I endedup writing a ruby function that pulled said tokens out of docker swarm joint-token statement.

[2017-09-13 12:34] vide commented on #722
@Justin-DynamicD setting up a consul instance just for bringing up one (or more) swarm cluster seems a little bit overkill to me, at least for my needs. Thanks for your feedback anyway! :)

[2017-09-15 07:54] jamesmcdonald commented on #722
I've done something similar, adding a custom external fact to expose the worker token, using it in an exported resource and then just realising that on the worker nodes. It feels a bit ugly having the secret exposed as a fact, but as it's generated on the fly it's pretty tricky to do anything else.

[2017-09-18 15:01] BlauerPulli commented on #607
info: now i use puppet 4 and the official "docker_platform" puppet module(still on ubuntu 16.04) and it works.

[2017-09-18 16:21] bittner commented on #607
@BlauerPulli Note that the [docker_platform](https://forge.puppet.com/puppetlabs/docker_platform) module is nothing else than this repo. The former is really just a meta-package. [See the sources](https://github.com/puppetlabs/puppetlabs-docker_platform/blob/master/metadata.json#L11) to prove this.

When it works for you you're lucky. For everyone else this module is broken. For years.

[2017-09-23 08:53] cedef commented on #699
Hmm not a word from @garethr since this issue has been opened.
Should this module be maintained by [voxpupuli](https://github.com/voxpupuli/) ?

[2017-09-23 21:39] BarnumD commented on #699
Yes

[2017-09-29 13:16] kr428 opened #725 "Error while evaluating a Resource Statement, Apt::Source[docker]"
Folks;

pardon if this is a known issue. Running into trouble trying to use puppet/docker on Ubuntu 16.04:

`Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Error while evaluating a Resource Statement, Apt::Source[docker]:
  has no parameter named 'required_packages'
  has no parameter named 'key_source'
  has no parameter named 'include_s

[2017-10-03 19:23] cajdavidson commented on #725
@kr428 I ran into the same problem, I think that it was due to me updating the puppet-apt module that I was using, there is a pull request outstanding to fix this issue[0], I manually implemented these changes to the module on my puppetmaster and all works as expected. You can probably do that too, at least until the changes are merged.

[0] https://github.com/garethr/garethr-docker/pull/713

[2017-10-07 21:43] LongLiveCHIEF commented on #699
Hello everyone.  I've been working on some of the problems with the latest releases of docker and compatibility with this module, and i've finally published an early version of the [`hackerhappyhour/docker`](https://forge.puppet.com/hackerhappyhour/docker/readme) forge module.

This started off life as a fork of this repo, and i'm going to be actively maintaining it at https://github.com/HackerHap

[2017-10-08 12:31] jg-development commented on #699
nice ... thx :-)
If I have some time I will try to help

[2017-10-08 22:04] LongLiveCHIEF commented on #725
I've forked garethr/docker, and this issue should be fixed in the latest release of `hackerhappyhour/docker`.  Give it a shot, and let me know if you have any issues here: https://github.com/HackerHappyHour/hackerhappyhour-docker/issues

[2017-10-11 05:51] kr428 commented on #725
@cajdavidson Followed your approach and got it to work this way, thanks a bunch! :)

[2017-10-11 05:51] #725 closed, assigned to nobody

[2017-10-11 12:02] kr428 opened #730 "docker image, docker_tar and restart containers only on update?"
Folks;

unsure whether this is the right place to ask: I want to deploy docker images (living locally in tar files on a file share) using this approach. puppet should ensure that (a) the latest docker image always is present and (b) all relevant containers run using the latest image.

Right now, for this purpose I use a declaration like this:

  docker::image { 'p20':
    ensure => present,
    re

[2017-10-11 14:49] Justin-DynamicD commented on #730
So, I've not tried doing what you're doing per-say, but My guess is going to be that the "p20" image may not name match exactly with what you're importing?  if you "break open" the module, image import and maintenance is a bunch of exec calls which is much trickier to keep declarative, and so you need need to do your part and make sure all names line up exactly.  Also, make sure that Exec['/opt/re

[2017-10-12 07:29] kr428 commented on #730
@Justin-DynamicD Thanks a bunch for your feedback. So I'll have a look into setting up a docker registry. So far I wanted to avoid that in order not to introduce yet one more required runtime dependency but maybe it indeed will ease things. What I actually want to achieve is having sort of an automated procedure that picks up new images as soon as they are available and restarts containers then in

[2017-10-12 23:39] BarnumD commented on #699
I believe the reason this repo has stagnated is because puppetlabs recently release a new module onto the forge.  It seems to be based on this one.  https://forge.puppet.com/puppetlabs/docker

[2017-10-12 23:50] Justin-DynamicD commented on #730
I can understand keeping the unnecessary stuff out,  but in this case it makes things sooo much easier.

Any rate,  if you want to move images around via tmp copy, I'd just take a close look at how your images and zips are named, as it looks like the module uses all of it interchangeably.  Hope that gets you out of the jam you're in.

[2017-10-13 08:44] kr428 commented on #730
Ok you got me. I spent most of yesterdays time setting up a local docker registry, and though this is not completely perfect it seems worth the effort. Still missing, though: By now puppet will pull new images off the registry if there are any (good), but it will apparently not restart any running containers.

Maybe this isn't even completely dumb as there are several instances of the same service

[2017-10-13 20:27] stefanlasiewski commented on #676
This project has been migrated to puppetlabs/docker . I'm closing this ticket in favor of https://github.com/puppetlabs/puppetlabs-docker/issues/11 .

[2017-10-13 20:28] stefanlasiewski commented on #676
garethr-docker has been migrated to puppetlabs/docker . I'm closing this ticket in favor of https://github.com/puppetlabs/puppetlabs-docker/issues/11 .

[2017-10-13 20:28] #676 closed

[2017-10-16 20:19] dforste opened #731 "Allow Docker to configure direct-lvm mode"
https://docs.docker.com/engine/userguide/storagedriver/device-mapper-driver/#configure-direct-lvm-mode-for-production

In Docker 17.06 and higher, Docker can manage the block device for you, simplifying configuration of direct-lvm mode.

They now have options to simply pass in dm.directlvm_device="/dev/xvdf" to allow docker to configure the raw device.

The full example is
[code]

[2017-10-25 16:16] dforste commented on #699
According to binford2k:
There's now a supported module, https://forge.puppet.com/puppetlabs/docker
Pretty sure that garethr_ just needs to get around to deprecating his.

[2017-11-02 19:10] rohitbordia opened #735 "Docker 17.06 cannot get"
How, do we get docker 17.06 , when tagging with version "latest" it gets

Client:
 Version:      17.05.0-ce
 API version:  1.29
 Go version:   go1.7.5
 Git commit:   89658be
 Built:        Thu May  4 22:06:25 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.05.0-ce
 API version:  1.29 (minimum version 1.12)
 Go version:   go1.7.5
 Git commit:   89658be
 Built:        Thu May  4 22:06:25

[2017-11-02 19:13] Justin-DynamicD commented on #735
You need to update your repo.  The defautl repo in this module is out of date.

So for example, in ubuntu my hiera.yaml contains:

docker_package_name: 'docker-ce'
docker_package_source_location: 'https://download.docker.com/linux/centos/docker-ce.repo'

[2017-11-02 19:15] rohitbordia commented on #735
If, I'm using the rpm package for the latest it does not work.

 package_name                => 'docker-engine',
  package_source              => '
https://download.docker.com/linux/centos/7/x86_64/stable/Packages/docker-ce-17.06.1.ce-1.el7.centos.x86_64.rpm
'

so should I use :

class { 'docker' :
  manage_package              => true,
  use_upstream_package_source => false,
docker_package_name:

[2017-11-02 19:16] Justin-DynamicD commented on #735
as an fyi, this seems to have been forked by the puppet team,  This module may be on it's way to pasture:

https://forge.puppet.com/puppetlabs/docker

[2017-11-02 19:18] Justin-DynamicD commented on #735
I'm sorry, I forgot my hiera doesn't translate properly ... let me do this again in puppet DSL:

`
  package_name            => $docker_package_name,
  package_source_location => $docker_package_source_location,
`

Hope that's a bit more clear.

[2017-11-02 20:17] rohitbordia commented on #735
Thanks Justin, This is how I did :

class { 'docker' :
  manage_package              => true,
  use_upstream_package_source => false,
  package_name                => 'docker-ce',
  package_source_location             => '
https://download.docker.com/linux/centos/docker-ce.repo'
}

Below is the error

Execution of '/bin/yum -d 0 -e 0 -y --enablerepo=extras list docker-ce'
returned 1: Error: No mat

[2017-11-02 20:45] rohitbordia commented on #735
any idea why it cannot find docker-ce

[2017-11-02 21:44] rohitbordia opened #736 "Connecting to Docker Hub"
How can we connect to hub.docker.com?
docker::registry { 'hub.docker.com':
  username => 'user',
  password => 'password'
}

 /Stage[main]/Main/Docker::Registry[hub.docker.com]/Exec[hub.docker.com auth]/returns: Error: Cannot perform an interactive login from a non TTY device

[2017-11-02 23:22] rohitbordia commented on #736
Looked at the code :  if $ensure == 'present' {
    if $username != undef and $password != undef and $email != undef {
      $auth_cmd = "${docker_command} login -u '${username}' -p \"\${password}\" -e '${email}' ${server}"
      $auth_environment = "password=${password}"
    }
    elsif $username != undef and $password != undef {
      $auth_cmd = "${docker_command} login -u '${username}' -p \"\$

[2017-11-08 15:08] ubellavance opened #737 "RHEL 7 extra repository error"
Hi,

I just tested the module with an updated RHEL7 server (7.4) and it looks like the name that is used for the `--enablerepo` switch is wrong.  The module uses `rhel7-extras` but the real name is `rhel-7-server-extras-rpms`

[2017-11-10 19:53] davidius81 commented on #735
Yup, because your specified the Repo file instead of the  yum url,

The module has still useful features but it doesn't support the new packages, specially because the $docker_command variable now differ from daemon_command and the module is not support it at the moment. So I decided to install the package myself and use the feature I want after.

Here is what I have done:

I kept my example simpl

[2017-11-12 10:23] scoopex opened #739 "Support docker-ce"
It seems that the structure of the docker apt repositories changed again :-(

The module should support the installation procedure described at:
https://docs.docker.com/engine/installation/linux/docker-ce/ubuntu/#install-docker-ce-1

I you want like to install docker-ce on artful, you should use the zesty source, because the artful source does not contain packages:
[code]

What a mess.....

I file

[2017-11-16 14:31] yaron-idan commented on #588
+1

[2017-11-28 20:44] telegrapher commented on #578
It looks like this module is somehow abandoned, this may be an alternative: https://forge.puppet.com/puppetlabs/docker/readme

[2017-12-01 14:28] Yggdrasil commented on #701
@Justin-DynamicD Exactly.

We worked around this on already broken nodes by adding this ugly exec:
[code]

It deletes the service-overrides.conf file, if it exists and does not contain the correct ExecStart command yet. Afterward the docker::service class drops in the correct file and the daemon starts correctly.

I'll be removing this monster from our manifests as soon as all nodes are confirmed

[2017-12-06 21:33] gdubicki opened #743 "Please mark this module as deprecated and redirect to puppetlabs/puppetlabs-docker"
As https://github.com/puppetlabs/puppetlabs-docker is an officially maintained fork of this module it would be nice to edit this module README / description to clearly point everyone to it.

[2017-12-29 05:39] abhaynpai commented on #718
Any updates on this issue ? Even I am facing the same problem.

[2018-01-03 09:37] alfredkrohmer opened #744 "Amazon Linux 2 support"
Amazon Linux 2 reports
[code]

This breaks this puppet module with this error:
https://github.com/garethr/garethr-docker/blob/master/manifests/install.pp#L42

Also, it still tries to generate init scripts instead of systemd unit files (systemd is now used with Amazon Linux 2).

[2018-01-18 15:25] marcofl commented on #743
I totally agree with this. Having 2 widely used modules which have same set of parameters but working in different ways is quite "dangerous". We're migrating everything to puppetlabs-docker now

[2018-01-25 15:32] joaquin386 commented on #588
Encounter the same error.
Modify manually the registry.pp and remove all reference to the email.
After that the registry works perfectly I suppose an easy fix can be done for >17.06

But already done on the supported docker:
puppetlabs/puppetlabs-docker
So basicly you can close this case.

[2018-02-06 13:49] mendhak commented on #672
I found a [`root_dir`](https://github.com/puppetlabs/puppetlabs-docker/blob/43dcd50ef3dd536668f59fc253c6888404288a10/manifests/init.pp#L186) - that gets used as a -g parameter

[2018-02-06 14:52] mendhak commented on #691
Were you able to work around this issue?  I'm looking to get a live-restore option somehow as well

[2018-02-06 14:56] fitz123 commented on #691
I'm using custom template as a docker-run.erb

[2018-02-06 15:31] mendhak commented on #691
Hi do you mean a template to put values into /etc/docker/daemon.json?  I was thinking of doing something like that and putting the live-restore in there.

[2018-02-06 15:36] fitz123 commented on #691
that one too, of course. But it already are configurable and you can update it whatever you want. the main struggle (and the point of this issue) is https://github.com/garethr/garethr-docker/blob/master/templates/etc/systemd/system/docker-run.erb#L7
which gives you no chance to restart docker service without getting all containers restarting by SystemD

[2018-02-06 15:38] mendhak commented on #691
Ah thanks for the update and clarification this is very useful to me!

[2018-02-23 10:36] kr428 opened #749 "Ubuntu: Install docker-ce instead of docker-engine?"
Folks; is there a default way to make sure (on Ubuntu 16.04) docker-ce instead of docker-engine is being installed?
Thanks,
Kristian

[2018-03-06 17:56] Justin-DynamicD commented on #749
This module has been forked and officially taken over by the puppet team.  This specific repo hasn't been updated in over a year so you really should use that instead:

https://forge.puppet.com/puppetlabs/docker

[2018-03-29 20:27] johnzimm opened #750 "Notice of Newer PuppetLabs Module"
It looks like the PuppetLabs supported module is the successor and continuation of this code base.

- https://forge.puppet.com/puppetlabs/docker
- https://github.com/puppetlabs/puppetlabs-docker

@garethr - If this is true can you put a deprecation notice in the README and on the Forge?  It will help people get where they need to go and I know I've appreciated those when modules evolved in the pas

[2018-03-29 20:28] johnzimm commented on #750
Just realized this duplicated #743.  Closing.

[2018-03-29 20:28] #750 closed, assigned to nobody

[2018-06-14 11:44] vladgh commented on #505
Thank you.

[2018-06-14 11:44] #505 closed

[2018-06-15 10:30] dynek opened #753 "Docker registry auth doesn't check if it authed already?"
Hello,

I am using docker::registry to login against a private registry.
However the exec call doesn't check if registry already exists in the config file so each run ends up with a notice saying call was successful.

How are you guys managing this?

Thank you

[2018-06-19 14:00] dynek commented on #753
https://github.com/garethr/garethr-docker/pull/754

[2018-06-19 14:00] #753 closed, assigned to nobody

[2018-07-01 22:26] optiz0r opened #755 "$docker::service_provider is not respected by docker::run"
`docker::service_provider` can be manually set to override the choice of service provider for the docker daemon itself, but containers created with `docker::run` do not respect this and use hardcoded defaults for particular operating systems. `params.pp` already does the work of figuring out whether the node is running systemd (which can be overridden when necessary).

I propose to add a single ch

[2018-07-01 22:58] optiz0r commented on #755
I see I cannot actually use `docker::service_provider` without making significant changes to the way the code works because the defined type includes `docker::params` only and not the base `docker` class. Is this appropriate, or should the `docker::run` type just have a `service_provider` parameter which defaults to `docker::params::service_provider` if not set explicitly?

[2018-07-16 14:33] electrofelix commented on #640
Fixed upstream in puppetlabs/puppetlabs-docker

[2018-07-16 14:33] #640 closed

[2018-09-10 15:13] aaronbbrown commented on #564
This is also preventing us from upgrading to 5.3.0 due to the issue described in https://github.com/garethr/garethr-docker/issues/564#issuecomment-284849277.

[2018-10-03 17:57] redstonemercury commented on #718
I just had this same issue and have tried all sorts of escaping of the options (single quotes, double quotes, escaped double quotes, etc.). I'm not sure if this issue is actually tied to this puppet module though, or rather tied to systemd trying to run docker with the flags, since if you grab what's being put in the systemd file and run it manually, it works. For now, I've gone with overriding th

[2019-02-26 21:48] BarnumD commented on #466
In my case, I had docker-compose installed, and /usr/local/bin already in the path on Ubuntu 18.04.  However, I had failed to install docker with `include 'docker'`.

[2020-01-02 15:23] rehan2908 opened #762 "support for Centos 8"
Hello,

Looks like this module doesn't support Centos 8. May i know when will the support for CentOS 8 be added

[2020-02-17 11:14] agxs commented on #762
This module got migrated to https://github.com/puppetlabs/puppetlabs-docker a few years ago now, try that one instead.

[2020-07-17 18:20] #367 closed

[2020-10-22 20:03] #420 closed

[2021-05-14 01:45] #574 closed

[2021-05-14 01:46] ktreese commented on #574
closing due to age

[2021-05-30 13:40] electrofelix commented on #660
I suspect this can be closed.